


<div class="top-nav">
    
    <nav class='cssmenu js-menumaker' role="primary">
                
        <div class="logo">
            <a href="/" title="{{ app.name }}">
                <img src="{{ app.images_path }}/theme/logo.png" alt="">
            </a>
        </div>
        <div id="head-mobile">
            {{ app.name }}
        </div>
        <div class="mobile-button"></div>
        {# <!-- {% include "../lists/summary.twig" %}DEFAULT --> #}
        <ul>
        {%- for key,page in summary %}
            <li>
                <a href="{{page.url}}" title="{{page.description if page.description else page.title}}">{{page.title}}</a>
            </li>
        {%- endfor %}
        </ul>
        
        




        <ul>
        {%- for sibling in navigation.root.siblings %}
            <li><a href="{{app.url}}{{ sibling.href }}" >{{ sibling.title }}</a></li>
        {%- endfor %}
         {%- for sibling in navigation.siblings %}
            <li><a href="{{app.url}}{{ sibling.href }}" >{{ sibling.title }}</a>
            {%- if sibling.children|length  %}
                <ul>
                    {%- for child in sibling.children %}
                    <li><a href="{{app.url}}{{child.href}}">{{child.title}}</a></li>
                    {%- endfor %}
                </ul>
            {%- endif %}
            </li>
        {%- endfor %}
        </ul>
       
    


    </nav>
  
</div>