<div class="responsive-menu js-menumaker" role="primary">
	<div class="head-desktop">
		<div class="brand">
			{{ app.name }}
		</div>
		<div class="baseline">{{ app.slogan }}</div>	
	</div>
	<div class="head-mobile">
			<div class="mobile-button"></div>
		
			<div class="brand">
				{{ app.name }}
			</div>
			<div class="baseline">{{ app.slogan }}</div>
		
	</div>
	<div class="menu-container">
		<ul>
		{%- for sibling in navigation.root.siblings %}
			<li><a href="{{app.url}}{{ sibling.href }}" >{{ sibling.title }}</a></li>
		{%- endfor %}
		 {%- for sibling in navigation.siblings %}
			<li><a href="{{app.url}}{{ sibling.href }}" >{{ sibling.title }}</a>
			{%- if sibling.children|length  %}
				<ul>
					{%- for child in sibling.children %}
					<li><a href="{{app.url}}{{child.href}}">{{child.title}}</a></li>
					{%- endfor %}
				</ul>
			{%- endif %}
			</li>
		{%- endfor %}
		</ul>
	</div>
</div>